// KryptEd StyleSheet
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,700&subset=latin-ext')

$color-main: #632a61
$color-secondary: #ffd35e
 
body
    font-family: 'Montserrat', sans-serif

#navigation
    top: 0
    width: 100%

#mainNav
    z-index: 2
    .navbar-nav
        a
            color: $color-main !important
            font-weight: 500
            font-size: 14px
    
.navbar-brand
    img
        max-width: 100px

.navbar-toggler
    border: none

#home
    width: 100%
    height: 100vh
    background-image: url('../img/background-image.jpg')
    background-size: contain

.hero-section
    padding-top: 25vh
    h1
        color: $color-main
        font-weight: 600
        font-size: 80px
        text-align: center
    .link-group
        display: block
        text-align: center
        padding-top: 20px
        .link
            border: 2px solid $color-main
            border-radius: 30px
            padding: 10px 20px
            color: $color-main
            text-decoration: none
            margin-right: 10px
            &:hover
                background-color: $color-main
                color: #fff
            &:last-child
                margin-right: 0
    .partners
        display: block
        text-align: center
        padding-top: 100px
        h5
            color: $color-main
    .explore
        text-align: center
        text-decoration: none
        display: block
        position: absolute
        width: 100%
        left: 0
        bottom: 10px
        font-weight: 500
        color: $color-main
        font-size: 14px